div {
    border: 1px solid black;
    width: 300px;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
}

.filmes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.anchors {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
        background: red;
        color: blue;
        font-weight: 700;
        text-decoration: none;
        padding: 1rem;
    }
}